body { font-size: 12px; font-family: Arial; padding: 0px; margin: 0px }
.clear { clear:both }
a { color: #4183C4; text-decoration: none; }
a:active { outline: none; }
:focus { -moz-outline-style: none; outline: none;}
.p { padding: 10px; }
img { border: 0px}

#content { min-width: 940px }

#finder { width: 100%; overflow: hidden; }

#r_w { width: 100%; background-color: #EAEAEA; border-bottom: 1px solid #CCC;}
.tbb { border-bottom: 3px solid #CCC;} /* thick bottom border */

  
  
/* logo */
.big { font-size: 14px; font-weight: bold;} 
#r_w span { margin-right: 20px; }
#in { position: fixed; background-color: #4F4A45; color: white; top: 0px; right: 0px; padding: 5px;}

#b_w { width: 79.9%; position: relative; overflow: hidden; overflow-x: auto; height: 300px; float: left;}
.panel { float: left; width: 200px; border-right: 1px solid #CCC; overflow: hidden; overflow-y: auto;
height: 300px }

.files { padding: 0; margin: 0; }
.files li { list-style:none outside none; border-bottom: 1px solid #CCC; padding: 6px; background-color: #F8F8F8; }
#i_w { width: 20%; border-left: 1px solid #CCC; float: left; height: 300px; overflow-y: auto; }
/*.padding { padding: 10px; }*/
#i_w .commits { height: 200px; overflow: auto}

.t { padding: 10px; border-bottom: 1px solid #CCC; font-size: 14px; font-weight: bold} /* title */

.tree { background: #F8F8F8 url('./img/la.gif') no-repeat 95% 50%; font-weight: bold; }
.ico { margin: 2px; background:url('./img/txt.gif') no-repeat top left; padding: 3px 6px; }
.tree .ico { background-image: url('./img/dir.gif'); }
.cur { background: #3D8CFF url('./img/la_h.gif') no-repeat 95% 50% !important;}
.cur a { color: white;}
.blob { background-image: none !important; }
.files a { padding: 3px 15px }

#f_c_w .p {padding: 10px}
#f_c { width: 80.85%; float: left; overflow: hidden; }
#c_w { width: 19%; border-left: 1px solid #CCC; border-bottom: 1px solid #CCC;float: right; min-height: 500px; overflow-y: auto;}
#f_c_s { overflow-y: auto; }
#f { border: 1px solid #CCC; }
#f_h_w { border-bottom: 3px solid #CCC; }

#commits .big { padding: 10px; border-bottom: 1px solid #CCC;}

/* commit entry */
.ce { padding: 10px 0; border-bottom: 1px solid #CCC; }

pre, #code, .meta, .diff { font:12px Monaco,monospace; margin: 0; }

.meta, .diff thead th { background-color: #EEE; color:#333; overflow:hidden; padding:10px; border-bottom: 1px solid #CCC}
.meta span { margin-left: 5px; padding-left: 9px;}

.ln, .diff th { background-color:#ECECEC; border-right:1px solid #DDD; color:#AAA; text-align: right; padding: 5px 5px }
#code { padding: 5px;}
/*.hover { background-color: #FFFFC7; }*/

.diffoutput { border: 1px solid #DDD}
.diff { width: 100%; border-collapse:collapse; border-right:1px solid #DDD; font-size: 11px; }
.diff th{ border: 1px solid #BBC; border-bottom: 0px; font-weight: normal;}
  .empty { background-color:#DDD; }
  .replace { background-color:#FD8; }
  .delete { background-color:#B8FFE9; }
  .skip { background-color:#EFEFEF; border:1px solid #AAA; border-right:1px solid #BBC;
}
  .insert { background-color:#9E9 }

#diffoutput { border-bottom: 1px solid #CCC}

#footer { padding: 10px; border-top: 1px solid #CCC}


/* extension stuff */
.resize { cursor: col-resize; float: left; background-color: #DCDCDC;border-right: 1px solid #CCC;}
.hrz { cursor: row-resize !important; background-color: #DCDCDC; ;border-bottom: 1px solid #CCC;height: 3px; line-height: 3px; width: 99.9%}
#bml_w { float: right; font-size: 11px; width: 300px;}
.bml { border: 1px solid #CCC; padding: 1px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; font-weight: bold;}
.bml:hover { background-color: white;}